body {
    margin: 0 0 0 0;
}



div {
    width: 100vw;
}

#div1 {
    background-color: blue;
    height: 20vh;

}

#div2 {
    background-color: red;
    height: 80vh;
    display: flex;
}

#div3 {
    background-color: green;
    height: 20vh;
}

#div2-izq {
    background-color: darkmagenta;
}

#div2-der {
    background-color: rgb(0, 74, 139);
}