table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    box-shadow: 5px 5px 5px gray;
    background-color: greenyellow;
}

td,
th {
    border: 2px solid orange;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

th {
    background-color: black;
    color: aliceblue;
}