table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    box-shadow: 5px 5px 5px gray;
}
h1{
    text-align: center;
    padding-top:  5px;
}
td,th{
    border: solid black;
    padding-left: 70px;
    padding-right: 70px;
}

.color-celda{
    color: red;

}
.fondo-6{
    background-color: blue;
    text-align: right;
    padding-top: 4vh;

}

.fondo-2{
     background-color: aqua;
     text-align: left;
}
.fondo-1{
    background-color: lime;
}